/*---BASIC STUFF AND FONTS---*/
@font-face {
	font-family: 'Xolonium';
	src: url("fonts/xolonium-regular.woff");
}
@font-face {
	font-family: 'Open Sans';
	font-weight: normal;
	src: url("fonts/opensans-regular.woff");
}
@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	src: url("fonts/opensans-bold.woff");
}
@font-face {
	font-family: 'Vera Mono Timer';
	src: url("fonts/veramono-timer-regular.woff");
}
html,body{
    margin:0;
    padding:0;
    border:none;
    overflow:hidden;
    background:#000000;
    color:#FFFFFF;
    text-shadow:0.05rem 0.05rem 0.125rem #000000;
    font-family:'Open Sans',sans-serif;
    user-select: none;
}
#loadOverlay{
    position:fixed;
    top:0; left:0; width:100vw; height:100vh;
    z-index:99999;
    background:#000000;
}
*{
    box-sizing:border-box;
}
::-moz-focus-inner { 
  border: 0;
  padding: 0;
}
.bold{
    font-weight:bold;
}
.centered{
    text-align:center;
}
a{
    color:#FFFFFF;
}
/*---SLIDES SYSTEM---*/
div.slide{
    position:fixed;
    top:0; left:0; width:100vw; height:100vh;
    background:#000000;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
div.slide > div.upper{
    position:absolute;
    top:0; left:0; width:100%; height:calc(100% - 4em);
    overflow:auto;
}
div.slide > div.lower{
    position:absolute;
    bottom:0; left:0; width:100%; height:4em;
    overflow-x:auto;
    overflow-y:hidden;
    line-height:4em;
    box-shadow: 0 0 1em 0.1em rgba(0,0,0,0.5);
    background: rgba(170,170,170,0.5);
    backdrop-filter: blur(5em);
    white-space: nowrap;
    text-align:center;
}
div.slide > div.lower > *.left{
    float:left;
}
div.slide > div.lower > *.right{
    float:right;
}
div.slide > div.full{
    position:absolute;
    top:0; left:0; width:100%; height:100%;
    overflow:auto;
}
div.slide > div > div.content{
    width:100%;
    max-width:60em;
    margin:0 auto;
    padding: 0 1rem;
}
div.slide.visible{
    animation: fadeIn 0.3s linear;
    z-index:99;
}
div.slide.invisible{
    animation: fadeOut 0.3s linear;
    top:1000%;
    z-index:1;
}
@keyframes fadeIn{
    /* animation removed because it looks better */
    0%{
        z-index:1;
    }
    100%{
        z-index:1;
    }
}
@keyframes fadeOut{
    0%{
        opacity:1;
        top:0;
        z-index:99;
    }
    100%{
        opacity:0;
        top:0;
        z-index:99;
    }
}
div.title{
    display:block;
    font-size:3rem;
    margin:0 0 0.5em 0;
    padding: 0.5em 0 0.1em 0;
    border-bottom:0.1em solid #FFFFFF;
    font-family:'Xolonium',sans-serif;
}
/*---FLASHES---*/
div.flashFx{
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	z-index:99999;
	background-color:#FFFFFF;
	opacity:0;
	animation:flash 0.4s linear;
}
@keyframes flash{
	0%{opacity:0;}
	10%{opacity:1;}
	60%{opacity:0.5;}
	100%{opacity:0;}
}
/*---FORMS---*/
form{
    display:block;
    text-align:center;
}
form > div.entry{
    display:block;
    margin:1em 0;
    width:100%;
}
form > div.entry > div.entryName{
    display:inline-block;
    left:0; width:25%;
    padding-right:1em;
    text-align:left;
}
form > div.entry > *.entryValue{
    display:inline-flex;
    right:0; width:70%;
    align-items:baseline;
}
form > div.entry > *.entryValue > *.entryDatePickerInvisible{
    position:absolute;
    visibility:hidden;
    width:0;
}
@media all and (max-width: 40rem){
    form > div.entry > div.entryName,form > div.entry > *.entryValue{
        width:100%;
        margin:0;
        justify-content:center;
    }
}
form > div.actions{
    display:block;
    width:100%;
    padding: 0; margin:1em 0;
    text-align:center;
}
input[type="text"],input[type="date"],select{
    background:rgba(64,64,64,0.5);
    color:#FFFFFF;
    border:none;
    border-bottom:0.2em solid #606060;
    backdrop-filter:blur(0.35em);
    border-radius:0 0 0.2em 0.2em;
    padding:0.5em 1em;
    transition: border 0.1s linear;
    width:100%;
    height:2.5rem;
}
input[type="text"]:active,input[type="text"]:focus,input[type="date"]:active,input[type="date"]:focus,select:focus{
    border-bottom:0.2em solid #8080FF;
    background:rgba(64,64,64,1);
    z-index:99;
}
input[type="text"]:disabled,input[type="date"]:disabled,select:disabled{
    background:rgba(96,96,96,1);
    color:#AAAAAA;
}
option{
    background:#000000;
    color:#FFFFFF;
}
input[type="button"]{
    min-width:8em;
    padding: 0.7em 2em;
    margin:0.5em;
    color:#FFFFFF;
    background:rgba(64,64,64,0.7);
    border:none;
    border-radius:0.1rem;
    border-bottom:0.2rem solid #202020;
    box-shadow: 0 0.1em 0.4em 0.1em rgba(64,64,64,0.2);
    backdrop-filter:blur(0.35em);
    transition:background 0.1s linear, border 0.1s linear;
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    cursor:pointer;
}
input[type="button"].small{
    min-width:3em;
    padding:0.7em 1em;
}
input[type="button"].attached{
    margin:0;
}
input[type="button"]:focus{
    background:#404040;
    border-bottom:0.2em solid #8080FF;
}
input[type="button"]:active{
    background:#808080;
    border-bottom:0.2em solid #8080FF;
}
input[type="date"]{
    position:relative;
    padding-bottom:12px;
}
.soundToggle {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
  margin:1rem;
}
.soundToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(64,64,64,0.7);
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: #8080FF;
}
input:focus + .slider {
  box-shadow: 0 0 1px #8080FF;
}
input:checked + .slider:before {
  transform: translateX(1.625rem);
}
.slider.round {
  border-radius: 2.125rem;
}
.slider.round:before {
  border-radius: 50%;
}

/*---LISTS---*/
div.list > div.entry{
    display:flex;
	align-items:center;
	min-height:6rem;
	width:100%;
	border-bottom:1px solid #CCCCCC;
	color:#FFFFFF;
	overflow:hidden;
	word-wrap:break-word;
	position:relative;
}
div.list > div.entry > div.rightButtons{
	position:relative;
	width:5em;
	left:1.5em;
	text-align:right;
}
div.list > div.entry > div.content{
	position:relative;
	width:calc(100% - 10em);
	left:1.5em;
	line-height:1.25em;
}
div.list > div.entry > img.icon{
	position:relative;
	left:0.5em;
	height:3em;
	width:3em;
	border:0.2rem solid #404040;
}
div.list > div.entry > img.icon.important{
    border:0.21rem solid #FFFF80;
}
div.list > div.entry > div.clickOverlay{
	position:absolute;
	top:0; left:0; width:100%; height:100%;
	cursor:pointer;
	border:none;
	transition:border 0.1s linear;
}
div.list > div.entry > div.clickOverlay:focus{
    border:0.20rem solid #8080FF;
}
div.list > div.entry > div.rightButtons > a.button{
	display:inline-block;
	width:2.3em;
	height:2.3em;
    margin-left:0.2em;
	vertical-align:middle;
	cursor:pointer;
	border:0.20rem solid #404040;
	transition:border 0.1s linear;
}
div.list > div.entry > div.rightButtons > a.button:focus{
    border:0.22rem solid #8080FF;
}
div.list > div.entry > div.rightButtons > a.button.edit{
    background:url('pics/edit.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:50% 50%;	
}
div.list > div.entry > div.rightButtons > a.button.remove{
    background:url('pics/remove.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:50% 50%;	
}
div.list > div.entry > div.content > div.small{
    font-size:0.85em;
    color:#FFFFFFAA;
}
/*---DRAGGABLE LIST---*/
.draggableUL{
    list-style-type:none;
    padding:0;
}
.draggableLI{
    background-color:rgba(64,64,64,0.7);
    padding:0.75rem;
    margin:0.5rem;
    cursor:grab;
}
/*---MODALS---*/
div.modal{
    display:flex;
    position:fixed;
    top:0; left:0; width:100%; height: 100%;
    padding:1em;
    background:rgba(0,0,0,0.35);
    backdrop-filter: blur(0.4em);
}
div.modal > div.window{
    background:#303030;
    width:100%;
    max-width:40rem;
    padding:1.3em 1.3em 1em 1em;
    box-shadow:0 0 10em 10em rgba(0,0,0,0.15), 0 0 0.5em 0.5em rgba(0,0,0,0.15);
    border-radius:0.2em;
    margin:auto auto;
}
div.modal > div.window > div.message{
    margin-bottom:3em;
}
div.modal > div.window > div.buttons{
    text-align:right;
}
div.modal.visible{
    animation: modalFadeIn linear 0.2s;
    z-index:999;
}
div.modal.invisible{
    animation: modalFadeOut linear 0.2s;
    top:1000%;
    z-index:1;
}
@keyframes modalFadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes modalFadeOut{
    0%{
        opacity:1;
        top:0;
        z-index:999;
    }
    100%{
        opacity:0;
        top:0;
        z-index:999;
    }
}
/*---TIMERS---*/
div.mainTimerContainer{
    display:block;
    width:100%;
    text-align:center;
    margin:2rem 0 1rem 0;
    padding:0 0 1rem 0;
    border-bottom:0.3rem solid #FFFFFF;
}
div.smallTimers{
    display:block;
    width:100%;
    text-align:center;
}
div.smallTimerContainer{
    display:inline-block;
    width:8rem;
    text-align:center;
    border-right:0.1rem solid #FFFFFF;
    overflow:hidden;
}
div.smallTimerContainer:last-of-type{
    border:none;
}
div.timer{
    font-family:'Vera Mono Timer',monospace;
    text-align:center;
    overflow:show;
    white-space:nowrap;
    font-size:1.5em;
}
div.mainTimerContainer > div.timer{
    font-size:3.2rem;
}
div.smallTimerContainer > div.timerName{
    font-size:1.05rem;
    text-align:center;
}
div.banner{
    text-align:center;
    font-size:1.4em;
    margin-bottom:1em;
    font-weight:bold;
}
/*---"RESPONSIVE" WELCOME SCREEN---*/
@media all and (max-width: 50rem){
    #welcome > div.full{
        display:flex;
    }
    #welcome > div.full > div.content{
        margin:auto;
    }
}

#playerEven:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.4);
    z-index: -1; 
}

#soloButton{
    visibility: visible;
}

#teamButton{
    visibility: hidden;
}
